<div class="block-benefits1 block2">
    <div class="container">
        <h2 class="title2 other">
            Почему владельцы Mazda выбирают нас?
        </h2>
        <div class="block-benefits1__body">
            <div class="block-benefits1__column">
                <div class="block-benefits1__icon">
                    <img loading="lazy" src="img/icon/icon24.svg" alt="">
                </div>
                <div class="block-benefits1__item">
                    <div class="block-benefits1__title">
                        Опыт механиков более 15 лет
                    </div>
                    <p>
                        Квалифицированные механики со стажем
                    </p>
                </div>
            </div>
            <div class="block-benefits1__column">
                <div class="block-benefits1__icon">
                    <img loading="lazy" src="img/icon/icon25.svg" alt="">
                </div>
                <div class="block-benefits1__item">
                    <div class="block-benefits1__title">
                        Открытый
                        доступ в ремзону
                    </div>
                    <p>
                        Можете следить за процессом ремонта
                    </p>
                </div>
            </div>
            <div class="block-benefits1__column">
                <div class="block-benefits1__icon">
                    <img loading="lazy" src="img/icon/icon26.svg" alt="">
                </div>
                <div class="block-benefits1__item">
                    <div class="block-benefits1__title">
                        Гарантия на
                        ремонт, запчасти
                    </div>
                    <p>
                        Даем гарантию на ремонтные работы
                    </p>
                </div>
            </div>
            <div class="block-benefits1__column">
                <div class="block-benefits1__icon">
                    <img loading="lazy" src="img/icon/icon27.svg" alt="">
                </div>
                <div class="block-benefits1__item">
                    <div class="block-benefits1__title">
                        Чай, кофе,<br>
                        WI-FI, ТВ
                    </div>
                    <p>
                        Комфортная зона ожидания в сервисе
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>