<div class="block-blog block1">
    <div class="container">
        <div class="heading-complex">
            <h2 class="title2">
                <span>Читайте</span> наш блог
            </h2>
            <a href="#" class="heading-complex__link">
                <span class="desc">Читать весь блог</span>
                <span class="mob">Читать все</span>
                <svg aria-hidden="true" width="15" height="8">
                    <use xlink:href="img/sprite.svg#arrow2"></use>
                </svg>
            </a>
        </div>
        <div class="block-blog__body">
            <a href="#" class="block-blog__column">
                <img loading="lazy" src="img/image2.webp" alt="">
                <div class="block-blog__item">
                    <div class="block-blog__name">про двигатель</div>
                    <div class="block-blog__title">
                        Smashing Podcast Episode 10 With Trine Falbe And Martin Michael Frederiksen Designing
                    </div>
                    <div class="block-blog__data">25 сентября, 2021 г.</div>
                </div>
            </a>
            <a href="#" class="block-blog__column">
                <img loading="lazy" src="img/image3.webp" alt="">
                <div class="block-blog__item">
                    <div class="block-blog__name">про двигатель</div>
                    <div class="block-blog__title">
                        Smashing Podcast Episode 10 With Trine Falbe And Martin Michael Frederiksen Designing
                    </div>
                    <div class="block-blog__data">25 сентября, 2021 г.</div>
                </div>
            </a>
            <a href="#" class="block-blog__column">
                <img loading="lazy" src="img/image4.webp" alt="">
                <div class="block-blog__item">
                    <div class="block-blog__name">про двигатель</div>
                    <div class="block-blog__title">
                        Smashing Podcast Episode 10 With Trine Falbe And Martin Michael Frederiksen Designing
                    </div>
                    <div class="block-blog__data">25 сентября, 2021 г.</div>
                </div>
            </a>
        </div>
    </div>
</div>