<div class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__top top-footer">
                <div class="top-footer__left">
                    <a href="#" class="top-footer__logo">
                        <img loading="lazy" src="img/logo.svg" alt="">
                    </a>
                    <div class="top-footer__center">
                        <div class="contacts">
                            <div class="contacts__phone">
                                <a href="tel:84992882443">8 (499) 288-24-43</a>
                                <span>Телефон</span>
                            </div>
                            <div class="contacts__icons">
                                <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
                                <img loading="lazy" src="img/icon/viber.svg" alt="">
                                <img loading="lazy" src="img/icon/telegram.svg" alt="">
                            </div>
                        </div>
                        <div class="work">
                            <img loading="lazy" src="img/icon/clock.svg" alt="">
                            <span>Работаем ежедневно
                                <br>
                                с 9:00 до 21:00</span>
                        </div>
                        <div class="location">
                            <span>Москва, 1-я Мытищинская улица д.27, стр.3 (СВАО)</span>
                            <a href="#">Контакты и схема проезда</a>
                        </div>
                    </div>
                    <div class="socials">
                        <span>Мы в соцсетях:</span>
                        <div class="socials__icons">
                            <a href="#">
                                <svg aria-hidden="true" width="21" height="13">
                                    <use xlink:href="img/sprite.svg#vk"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg aria-hidden="true" width="17" height="17">
                                    <use xlink:href="img/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg aria-hidden="true" width="11" height="19">
                                    <use xlink:href="img/sprite.svg#facebook"></use>
                                </svg>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="top-footer__right">
                    <div data-spollers="768, max" class="spollers">
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>все модели мазды</span>
                                <svg aria-hidden="true" width="11" height="6">
                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                </svg>
                            </button>
                            <div class="spollers__body">
                                <ul>
                                    <li>
                                        <a href="#">Mazda 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda 5</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda 6</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda CX-3</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda CX-5</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda CX-7</a>
                                    </li>
                                    <li>
                                        <a href="#">Mazda CX-9</a>
                                    </li>
                                    <li>
                                        <a href="#">BT-50</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>все услуги</span>
                                <svg aria-hidden="true" width="11" height="6">
                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                </svg>
                            </button>
                            <div class="spollers__body">
                                <ul>
                                    <li>
                                        <a href="#">Ремонт двигателя</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт турбины</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт раздатки</a>
                                    </li>
                                    <li>
                                        <a href="#">Диагностика</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт трансмиссии</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт АКПП, КПП</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт подвески</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт электрики</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт кондиционера</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт системы охлаждения</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт топливной системы</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт рулевого управления</a>
                                    </li>
                                    <li>
                                        <a href="#">Ремонт выхлопной системы</a>
                                    </li>
                                    <li>
                                        <a href="#">Техническое обслуживание (ТО)</a>
                                    </li>
                                    <li>
                                        <a href="#">Защита от угона</a>
                                    </li>
                                    <li>
                                        <a href="#">Шиномонтаж</a>
                                    </li>
                                    <li>
                                        <a href="#">Установка доп. оборудования</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom bottom-footer">
                <div class="bottom-footer__copy">2017-2021 © R1 - автосервис Mazda</div>
                <div data-spollers="768, max" class="spollers">
                    <div class="spollers__item">
                        <button type="button" data-spoller class="spollers__title">
                            <span>о сервисе</span>
                            <svg aria-hidden="true" width="11" height="6">
                                <use xlink:href="img/sprite.svg#arrow3"></use>
                            </svg>
                        </button>
                        <div class="spollers__body">
                            <ul>
                                <li>
                                    <a href="#">Отзывы</a>
                                </li>
                                <li>
                                    <a href="#">О нас</a>
                                </li>
                                <li>
                                    <a href="#">Гарантия</a>
                                </li>
                                <li>
                                    <a href="#">Запчасти</a>
                                </li>
                                <li>
                                    <a href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>