<div class="footer footer2">
    <div class="footer__content">
        <div class="footer__top">
            <div class="container">
                <div class="top-footer">
                    <div class="top-footer__left">
                        <a href="#" class="top-footer__logo">
                            <img loading="lazy" src="img/logo.svg" alt="">
                        </a>
                        <div class="top-footer__center">
                            <div class="contacts">
                                <div class="contacts__phone">
                                    <a href="tel:74992900526">+7 (499) 290-05-26</a>
                                    <span>Телефон</span>
                                </div>
                            </div>
                            <div class="work">
                                <img loading="lazy" src="img/icon/clock.svg" alt="">
                                <span>Работаем ежедневно
                                    с 9:00 до 21:00</span>
                            </div>
                            <div class="location">
                                <span>г. Москва, Тюменский проезд 5 стр. 1</span>
                                <span>г. Москва, Мелитопольская д. 1, стр. 2</span>
                                <a href="#">Контакты и схема проезда</a>
                            </div>
                        </div>
                        <div class="socials">
                            <span>Мы в соцсетях:</span>
                            <div class="socials__icons">
                                <a href="#">
                                    <img loading="lazy" src="img/icon/vk.svg" alt="">
                                </a>
                                <a href="#">
                                    <img loading="lazy" src="img/icon/max.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="top-footer__list">
                            <ul>
                                <li>
                                    <a href="#">Политика конфиденциальности</a>
                                </li>
                                <li>
                                    <a href="#">Политика в отношении использования файлов cookies</a>
                                </li>
                                <li>
                                    <a href="#">Согласие на обработку персональных данных</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-footer__right">
                        <div data-spollers="768, max" class="spollers">
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>kia</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">K5</a>
                                        </li>
                                        <li>
                                            <a href="#">Optima</a>
                                        </li>
                                        <li>
                                            <a href="#">Sportage</a>
                                        </li>
                                        <li>
                                            <a href="#">Все модели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>Mazda</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">Mazda 3</a>
                                        </li>
                                        <li>
                                            <a href="#">Mazda 6</a>
                                        </li>
                                        <li>
                                            <a href="#">Mazda CX-5</a>
                                        </li>
                                        <li>
                                            <a href="#">Все модели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>Infiniti</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">QX4</a>
                                        </li>
                                        <li>
                                            <a href="#">EX</a>
                                        </li>
                                        <li>
                                            <a href="#">G</a>
                                        </li>
                                        <li>
                                            <a href="#">Все модели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>Hyundai</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">Elantra</a>
                                        </li>
                                        <li>
                                            <a href="#">Sonata</a>
                                        </li>
                                        <li>
                                            <a href="#">Santa-fe</a>
                                        </li>
                                        <li>
                                            <a href="#">Все модели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>Nissan</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">X-Trail</a>
                                        </li>
                                        <li>
                                            <a href="#">Qashqai</a>
                                        </li>
                                        <li>
                                            <a href="#">Almera</a>
                                        </li>
                                        <li>
                                            <a href="#">Все модели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <span>Ремонт авто</span>
                                    <svg aria-hidden="true" width="11" height="6">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </button>
                                <div class="spollers__body">
                                    <ul>
                                        <li>
                                            <a href="#">Ремонт Mazda</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Kia</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Hyundai</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Infiniti</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Nissan</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="bottom-footer">
                    <div class="bottom-footer__copy">© 2017 - 2025 R1 - Автосервис R1. Все права защищены.</div>
                    <div class="spollers">
                        <div class="spollers__item">
                            <button type="button" data-spoller class="spollers__title">
                                <span>о сервисе</span>
                                <svg aria-hidden="true" width="11" height="6">
                                    <use xlink:href="img/sprite.svg#arrow3"></use>
                                </svg>
                            </button>
                            <div class="spollers__body">
                                <ul>
                                    <li>
                                        <a href="#">Отзывы</a>
                                    </li>
                                    <li>
                                        <a href="#">О нас</a>
                                    </li>
                                    <li>
                                        <a href="#">Гарантия</a>
                                    </li>
                                    <li>
                                        <a href="#">Запчасти</a>
                                    </li>
                                    <li>
                                        <a href="#">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>