<div class="block-forms">
    <div class="container">
        <div class="block-forms__content">
            <form action="#">
                <div class="form">
                    <div class="form__top">
                        <div class="title2">Оставить заявку на обслуживание</div>
                        <span>
                            устраним любые неисправности
                        </span>
                    </div>
                    <div class="form__center">
                        <div class="form__input">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Ваше Имя">
                            <svg aria-hidden="true" width="16" height="16">
                                <use xlink:href="img/sprite.svg#user"></use>
                            </svg>
                        </div>
                        <div class="form__input phone">
                            <input data-required autocomplete="off" type="text" name="form[]"
                                placeholder="Номер телефона">
                            <svg aria-hidden="true" width="18" height="18">
                                <use xlink:href="img/sprite.svg#phone2"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="form__bottom">
                        <button type="submit" class="btn">оставить заявку</button>
                        <p>
                            Отправляя форму, вы соглашаетесь с правилами обработки
                            ваших личных данных <a href="#">«Политика конфиденциальности»</a>
                        </p>
                    </div>
                </div>
            </form>
            <div class="block-forms__image">
                <div class="block-forms__title">КОМАНДА R1</div>
                <img loading="lazy" src="img/image11.webp" alt="" class="block-forms__pic1">
                <img loading="lazy" src="img/image12.webp" alt="" class="block-forms__pic2">
            </div>
        </div>
    </div>
</div>