<div class="block-forms">
    <div class="container">
        <div class="block-forms__content">
            <form action="#" class="form">
                <div class="form__top">
                    <div class="title2">Оставить заявку на обслуживание</div>
                    <span>
                        устраним любые неисправности
                    </span>
                </div>
                <div class="form__center">
                    <div class="form__input">
                        <select name="form[]" class="select">
                            <option value="1" selected>Модель Mazda</option>
                            <option value="2">Модель Mazda2</option>
                            <option value="3">Модель Mazda3</option>
                            <option value="4">Модель Mazda4</option>
                        </select>
                    </div>
                    <div class="form__input">
                        <svg aria-hidden="true" width="16" height="16">
                            <use xlink:href="img/sprite.svg#user"></use>
                        </svg>
                        <input autocomplete="off" type="text" name="form[]" placeholder="Ваше Имя">
                    </div>
                    <div class="form__input">
                        <svg aria-hidden="true" width="18" height="18">
                            <use xlink:href="img/sprite.svg#phone2"></use>
                        </svg>
                        <input data-required autocomplete="off" type="text" name="form[]" placeholder="Номер телефона">
                    </div>
                </div>
                <div class="form__bottom">
                    <p>
                        Нажимая на кнопку “Оставить заявку”, Вы даете согласие
                        на обработку Ваших персональных данных
                    </p>
                    <button type="submit" class="btn">Записаться</button>
                </div>
            </form>
            <div class="block-forms__image">
                <div class="block-forms__title">КОМАНДА</div>
                <div class="block-forms__item">
                    <div class="block-forms__name">Юрий Румянцев</div>
                    <span>Управляющий R1</span>
                </div>
                <img loading="lazy" src="img/image11.webp" alt="" class="block-forms__pic1">
                <img loading="lazy" src="img/image12.webp" alt="" class="block-forms__pic2">
            </div>
        </div>
    </div>
</div>