<header data-lp class="header header-other">
    <div class="top-header-other">
        <div class="container">
            <div class="top-header-other__content">
                <a href="#" class="top-header-other__logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <div class="top-header-other__right">
                    <div class="location">
                        <div class="location__icon">
                            <img src="img/icon/location.svg" alt="">
                        </div>
                        <div class="location__text">
                            <div class="location__title">Москва, 1-я Мытищинская д. 27, стр. 3</div>
                            <div class="location__subtitle">Ежедневно с 9:00 до 21:00</div>
                        </div>
                    </div>
                    <div class="socials">
                        <div class="socials__icons">
                            <a href="#">
                                <svg aria-hidden="true" width="16" height="10">
                                    <use xlink:href="img/sprite.svg#vk"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg aria-hidden="true" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg aria-hidden="true" width="10" height="16">
                                    <use xlink:href="img/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="top-header-other__contacts">
                        <div class="contacts">
                            <div class="contacts__phone">
                                <a href="tel:74992882443">+7 (499) 288 24-43</a>
                                <a href="tel:74994951910">+7 (499) 495-19-10</a>
                            </div>
                            <div data-da=".header__bottom, 768, first" class="contacts__icons">
                                <a href="#">
                                    <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
                                </a>
                                <a href="#"><img loading="lazy" src="img/icon/viber.svg" alt=""></a>
                                <a href="#"> <img loading="lazy" src="img/icon/telegram.svg" alt=""></a>
                            </div>
                        </div> <a href="#" class="btn btn-border">
                            <span>заказ звонка</span>
                            <img src="img/icon/phone-call.svg" alt="">
                        </a>
                    </div>
                    <button type="button" class="top-header-other__icon icon-menu"><span></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header-other">
        <div class="container">
            <div class="bottom-header-other__content">
                <div class="bottom-header-other__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link">Услуги</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Модели и цены</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Запчасти</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Контакты</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <span>О сервисе</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-header-other__search">
                    <div class="search">
                        <div class="search__content">
                            <div class="search__input">
                                <input autocomplete="off" type="text" name="form[]" placeholder="Поиск">
                            </div>
                            <button type="button" class="search__button">
                                <img src="img/icon/search.svg" alt="">
                            </button>
                        </div>
                        <div class="dropdowm-search">
                            <div data-simplebar class="dropdowm-search__simplebar">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="btn">Все результаты</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="bottom-header-other__cart">
                    <img src="img/icon/cart.svg" alt="">
                    <span>12</span>
                </a>
            </div>
        </div>
    </div>
</header>