<header data-lp class="header header-white">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__body">
                <div class="header__top">
                    <div data-da=".header__menu, 1200, last" class="header__left">
                        <div class="location">
                            <span>Москва, 1-я Мытищинская улица д.27, стр.3 (СВАО)</span>
                        </div>
                        <div class="work">
                            <img loading="lazy" src="img/icon/clock.svg" alt="">
                            <span>Работаем ежедневно
                                с 9:00 до 21:00</span>
                        </div>
                    </div>
                    <div class="header__contacts">
                        <div class="contacts">
                            <div class="contacts__phone">
                                <a href="tel:84992882443">8 (499) 288-24-43</a>
                            </div>
                            <div data-da=".header__bottom, 768, first" class="contacts__icons">
                                <a href="#">
                                    <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
                                </a>
                                <a href="#"><img loading="lazy" src="img/icon/viber.svg" alt=""></a>
                                <a href="#"> <img loading="lazy" src="img/icon/telegram.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__bottom">
                    <div class="header__menu menu">
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Услуги</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Модели и цены</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Запчасти</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">Контакты</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#" class="menu__link">
                                        <div class="icon-menu">
                                            <span></span>
                                        </div>
                                        <span>О сервисе</span>
                                    </a>
                                    <div class="menu__dropdown">
                                        <ul>
                                            <li>
                                                <a href="#">Отзывы</a>
                                            </li>
                                            <li>
                                                <a href="#">О нас</a>
                                            </li>
                                            <li>
                                                <a href="#">Гарантия</a>
                                            </li>
                                            <li>
                                                <a href="#">Запчасти</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="socials">
                            <div class="socials__icons">
                                <a href="#">
                                    <svg aria-hidden="true" width="21" height="13">
                                        <use xlink:href="img/sprite.svg#vk"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg aria-hidden="true" width="17" height="17">
                                        <use xlink:href="img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg aria-hidden="true" width="11" height="19">
                                        <use xlink:href="img/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" data-popup="#request-call" class="btn btn-border">
                        <span>Заказать звонок</span>
                        <img src="img/icon/phone-call.svg" alt="">
                    </a>
                    <button type="button" class="header__icon icon-menu"><span></span></button>
                </div>
            </div>
        </div>
    </div>
</header>