<header class="header header-other2">
    <div class="top-header-other">
        <div class="container">
            <div class="top-header-other__content">
                <a href="#" class="top-header-other__logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <div class="top-header-other__right">
                    <a href="#" class="top-header-other__vk">
                        <img src="img/icon/vk.svg" alt="">
                    </a>
                    <a href="#" class="top-header-other__max">
                        <img src="img/icon/max.svg" alt="">
                    </a>
                    <div data-da=".menu, 1200" class="top-header-other__contacts2">
                        <div class="locations">
                            <div class="location">
                                <img src="img/icon/location.svg" alt="">
                                <div class="location__text">
                                    <div class="location__title">г. Москва, Тюменский проезд 5 стр. 1</div>
                                </div>
                            </div>
                            <div class="location">
                                <img src="img/icon/location.svg" alt="">
                                <div class="location__text">
                                    <div class="location__title">г. Москва, Мелитопольская д. 1, стр. 2</div>
                                </div>
                            </div>
                        </div>
                        <div class="socials">
                            <div class="socials__icons">
                                <a href="#">
                                    <img src="img/icon/vk.svg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/icon/max.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-header-other__contacts">
                        <div data-da=".menu, 768" class="contacts">
                            <div class="contacts__icon">
                                <svg aria-hidden="true" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#phone3"></use>
                                </svg>
                            </div>
                            <div class="contacts__phone">
                                <a href="tel:74992882443">+7 (499) 290-05-26</a>
                                <span>Ежедневно с 9:00 до 21:00</span>
                            </div>
                        </div>
                        <a href="#" data-popup="#request-call" class="btn btn-border">
                            <span>перезвоните мне</span>
                            <svg aria-hidden="true" width="14" height="14">
                                <use xlink:href="img/sprite.svg#phone3"></use>
                            </svg>
                        </a>
                    </div>
                    <button type="button" class="top-header-other__icon header__icon icon-menu"><span></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header-other">
        <div class="container">
            <div class="bottom-header-other__content">
                <div class="bottom-header-other__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <span>Ремонт авто</span>
                                    <img src="img/icon/arrow.svg" alt="">
                                </a>
                                <div class="menu__dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">Ремонт Mazda</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Kia</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Hyundai</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Nissan</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Infiniti</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Модели и цены</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <span>Запчасти</span>
                                    <img src="img/icon/arrow.svg" alt="">
                                </a>
                                <div class="menu__dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">Отзывы</a>
                                        </li>
                                        <li>
                                            <a href="#">О нас</a>
                                        </li>
                                        <li>
                                            <a href="#">Гарантия</a>
                                        </li>
                                        <li>
                                            <a href="#">Запчасти</a>
                                        </li>
                                        <li>
                                            <a href="#">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Контакты</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    <span>О сервисе</span>
                                    <img src="img/icon/arrow.svg" alt="">
                                </a>
                                <div class="menu__dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">Отзывы</a>
                                        </li>
                                        <li>
                                            <a href="#">Гарантия</a>
                                        </li>
                                        <li>
                                            <a href="#">Блог</a>
                                        </li>
                                        <li>
                                            <a href="#">Корпоративным клиентам</a>
                                        </li>
                                        <li>
                                            <a href="#">Наш автосервис Mazda</a>
                                        </li>
                                        <li>
                                            <a href="#">Клубный сервис Mazda</a>
                                        </li>
                                        <li>
                                            <a href="#">Ремонт Mazda в Москве</a>
                                        </li>
                                        <li>
                                            <a href="#">Наша команда</a>
                                        </li>
                                        <li>
                                            <a href="#">Сертификаты</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="bottom-header-other__search">
                    <div class="search">
                        <div class="search__content">
                            <div class="search__input">
                                <input autocomplete="off" type="text" name="form[]"
                                    placeholder="Введите название услуги">
                            </div>
                            <button type="button" class="search__button">
                                <img src="img/icon/search.svg" alt="">
                            </button>
                        </div>
                        <div class="dropdowm-search">
                            <div data-simplebar class="dropdowm-search__simplebar">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="dropdowm-search__image">
                                                <img loading="lazy" src="img/image15.webp" alt="">
                                            </div>
                                            <div class="dropdowm-search__title">
                                                Маслянный <span>фильтр</span>
                                                <br>
                                                на Mazda 3
                                            </div>
                                            <div class="dropdowm-search__price">
                                                1 200 р.
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="btn">Все результаты</a>
                        </div>
                    </div>
                </div>
                <a href="#" data-da=".top-header-other__right, 768, 3" class="bottom-header-other__cart">
                    <img src="img/icon/cart.svg" alt="">
                    <span>12</span>
                </a>
            </div>
        </div>
    </div>
</header>