<div class="pagination-controls">
    <span class="pagination-controls__item_nav pagination-controls__item_nav-prev">
        <img src="img/icon/arrow1.svg" alt="">
    </span>
    <div>
        <a class="pagination-controls__item pagination-controls__item_active" href="#">1</a>
    </div>
    <div>
        <a class="pagination-controls__item" href="#">2</a>
    </div>
    <div>
        <a class="pagination-controls__item" href="#">3</a>
    </div>
    <div>
        <a class="pagination-controls__item pagination-controls__item_ellipsis" href="#">...</a>
    </div>
    <div>
        <a class="pagination-controls__item" href="#">12</a>
    </div>
    <a class="pagination-controls__item_nav pagination-controls__item_nav-next" href="#">
        <img src="img/icon/arrow1.svg" alt="">
    </a>
</div>