<div class="block-reviews3 block2">
    <div class="container">
        <div class="block-reviews3__content">
            <div class="heading-complex">
                <h2 class="title2">
                    Отзывы
                </h2>
                <a href="#" class="heading-complex__link">
                    <span class="desc">Все отзывы клиентов</span>
                    <span class="mob">Все отзывы</span>
                </a>
            </div>
            <div class="block-reviews3__body">
                <div class="block-reviews3__column">
                    <div class="block-reviews3__icon">
                        <svg aria-hidden="true" width="20" height="16">
                            <use xlink:href="img/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <div class="block-reviews3__item">
                        <p>
                            Обслуживаю уже около 2 лет свою машину
                            в данном сервисе. Все нравится, ребята
                            знают своё дело. Рекомендую.
                        </p>
                        <div class="block-reviews3__bottom">
                            <div class="block-reviews3__name">
                                <img loading="lazy" src="img/icon/user.svg" alt="">
                                Виталий
                            </div>
                            <div class="block-reviews3__data">
                                <img loading="lazy" src="img/icon/calendar.svg" alt="">
                                04 сентября, 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-reviews3__column">
                    <div class="block-reviews3__icon">
                        <svg aria-hidden="true" width="20" height="16">
                            <use xlink:href="img/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <div class="block-reviews3__item">
                        <p>
                            Обслуживаю уже около 2 лет свою машину
                            в данном сервисе. Все нравится, ребята
                            знают своё дело. Рекомендую.
                        </p>
                        <div class="block-reviews3__bottom">
                            <div class="block-reviews3__name">
                                <img loading="lazy" src="img/icon/user.svg" alt="">
                                Виталий
                            </div>
                            <div class="block-reviews3__data">
                                <img loading="lazy" src="img/icon/calendar.svg" alt="">
                                04 сентября, 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-reviews3__column">
                    <div class="block-reviews3__icon">
                        <svg aria-hidden="true" width="20" height="16">
                            <use xlink:href="img/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <div class="block-reviews3__item">
                        <p>
                            Обслуживаю уже около 2 лет свою машину
                            в данном сервисе. Все нравится, ребята
                            знают своё дело. Рекомендую.
                        </p>
                        <div class="block-reviews3__bottom">
                            <div class="block-reviews3__name">
                                <img loading="lazy" src="img/icon/user.svg" alt="">
                                Виталий
                            </div>
                            <div class="block-reviews3__data">
                                <img loading="lazy" src="img/icon/calendar.svg" alt="">
                                04 сентября, 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-reviews3__column">
                    <div class="block-reviews3__icon">
                        <svg aria-hidden="true" width="20" height="16">
                            <use xlink:href="img/sprite.svg#quote"></use>
                        </svg>
                    </div>
                    <div class="block-reviews3__item">
                        <p>
                            Обслуживаю уже около 2 лет свою машину
                            в данном сервисе. Все нравится, ребята
                            знают своё дело. Рекомендую.
                        </p>
                        <div class="block-reviews3__bottom">
                            <div class="block-reviews3__name">
                                <img loading="lazy" src="img/icon/user.svg" alt="">
                                Виталий
                            </div>
                            <div class="block-reviews3__data">
                                <img loading="lazy" src="img/icon/calendar.svg" alt="">
                                04 сентября, 2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>