<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сертификаты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main main-bg">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Наши сертификаты</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-certificates2 block1">
                <div class="container">
                    <div class="block-certificates2__content">
                        <h1 class="title2 other">Наши сертификаты</h1>
                        <div class="block-certificates2__body">
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                            <a href="img/image24.webp" data-fancybox="gallery1" class="block-certificates2__column">
                                <img loading="lazy" src="img/image24.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

            {% include 'blocks/reviews3.njk' %}

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>