<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Модели</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main main-bg">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Модели и цены</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-models block1">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title2">Модели и цены</h1>
                    </div>
                    <div class="block-models__content">
                        <div class="block-models__column">
                            <div class="heading-complex">
                                <div class="title3">
                                    Mazda
                                </div>
                                <a href="#" class="heading-complex__link">
                                    <span class="desc">Все модели Mazda</span>
                                    <span class="mob">Все модели</span>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                            <div class="block-models__cards">
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image2.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Mazda 3</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image4.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Mazda 6</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image6.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Mazda CX-5</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image8.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Mazda CX-9</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="block-models__column">
                            <div class="heading-complex">
                                <div class="title3">
                                    Hyundai
                                </div>
                                <a href="#" class="heading-complex__link">
                                    <span class="desc">Все модели Hyundai</span>
                                    <span class="mob">Все модели</span>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                            <div class="block-models__cards">
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image15.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Elantra</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image16.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Sonata</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image17.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Santa Fe</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image18.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Tucson</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="block-models__column">
                            <div class="heading-complex">
                                <div class="title3">
                                    KIA
                                </div>
                                <a href="#" class="heading-complex__link">
                                    <span class="desc">Все модели KIA</span>
                                    <span class="mob">Все модели</span>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                            <div class="block-models__cards">
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image19.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>K5</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image20.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Optima</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image21.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Sportage</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image22.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Sorento</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="block-models__column">
                            <div class="heading-complex">
                                <div class="title3">
                                    Nissan
                                </div>
                                <a href="#" class="heading-complex__link">
                                    <span class="desc">Все модели Nissan</span>
                                    <span class="mob">Все модели</span>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                            <div class="block-models__cards">
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image23.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>X-Trail</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image24.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Qashqai</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image25.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Almera</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image26.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>Almera Classic</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="block-models__column">
                            <div class="heading-complex">
                                <div class="title3">
                                    Infiniti
                                </div>
                                <a href="#" class="heading-complex__link">
                                    <span class="desc">Все модели Infiniti</span>
                                    <span class="mob">Все модели</span>
                                    <img src="img/icon/arrow1.svg" alt="">
                                </a>
                            </div>
                            <div class="block-models__cards">
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image27.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>EX</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image28.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>FX</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image29.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>G</span>
                                    </div>
                                </a>
                                <a href="#" class="cart-model">
                                    <img loading="lazy" src="img/products/image30.webp" alt="" class="cart-model__pic">
                                    <div class="cart-model__bottom">
                                        <span>JX</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>