<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка запчасти</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Запчасти
                                <img src="img/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Двигатели Mazda и их замена
                                <img src="img/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Mazda 3 (BM) 2013-2017
                                <img src="img/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li class="breadcrumbs-mob">
                            <a href="#">
                                <svg aria-hidden="true" width="16" height="9">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                                Модели и цены
                            </a>
                        </li>
                        <li><span>Двигатель 2.0 (150ps) Mazda 3 2013-2017</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-product-card1">
                <div class="container">
                    <h1 class="title2">Двигатель 2.0 (150ps) Mazda 3 2013-2017</h1>
                    <div class="block-product-card1__content">
                        <div class="block-product-card1__top top-product-card1">
                            <div class="top-product-card1__image">
                                <img loading="lazy" src="img/image14.webp" alt="">
                            </div>
                            <div class="top-product-card1__body">
                                <div class="top-product-card1__descr">
                                    <p>
                                        Двигатель контрактный, продается с полным пакетом документов. Проверен по 27
                                        пунктам комплексной диагностики. При установке в нашем автосервисе гарантия на
                                        двигатель и на работу составит 180 дней или 10000 км пробега, а при покупке без
                                        установки - 14 дней.
                                    </p>
                                    <div class="top-product-card1__total">
                                        <div class="top-product-card1__price">50000 <span>₽</span></div>
                                        <div class="top-product-card1__price2">
                                            Стоимость замены:
                                            <span>20000 ₽</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-product-card1__contacts">
                                    <a href="#" class="btn">оставить заявку</a>
                                    <div class="contacts">
                                        <svg aria-hidden="true" width="19" height="19">
                                            <use xlink:href="img/sprite.svg#phone"></use>
                                        </svg>
                                        <div class="contacts__phone">
                                            <a href="tel:84992882443">8 (499) 288-24-43</a>
                                            <span>Телефон для записи на СТО</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-product-card1__bottom bottom-product-card1">
                            <div class="bottom-product-card1__title">
                                Подробные характеристики
                            </div>
                            <div class="bottom-product-card1__body">
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Модель:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        Mazda 3 (BM) 2013-2017
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Модель двигателя:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        PE
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Объём двигателя:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        2.0 л
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Оригинальный номер:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        PEY702300E
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Производитель:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        MAZDA
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Артикул:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        PEY702300E БУ
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Топливо:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        Бензин
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Пробег:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        25000
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Состояние:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        Б/У
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Год выпуска:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        2013-2017
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Стоимость работ по замене:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        от 20000 ₽
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Стоимость двигателя:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        50000 ₽
                                    </div>
                                </div>
                                <div class="bottom-product-card1__column">
                                    <div class="bottom-product-card1__name">
                                        Гарантия:
                                    </div>
                                    <div class="bottom-product-card1__value">
                                        180 дней или 10000 км.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>