<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Поиск</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main other">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                <svg aria-hidden="true" width="16" height="9">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                                Главная
                                <img src="img/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Запчасти</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-catalog">
                <div class="container">
                    <h1 class="title2">
                        Поиск
                    </h1>
                    <div class="block-catalog__search">
                        <div class="search">
                            <div class="search__content">
                                <div class="search__input">
                                    <input autocomplete="off" type="text" name="form[]" placeholder="Поиск">
                                </div>
                                <button type="button" class="search__button btn">
                                    <img src="img/icon/search.svg" alt="">
                                    <span>Найти</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block-catalog__content">
                        <div class="bottom-block-catalog">
                            <div class="bottom-block-catalog__body">
                                <div class="bottom-block-catalog__filters">
                                    <div class="bottom-block-catalog__filter">
                                        <button type="button" class="bottom-block-catalog__filter-title _active">
                                            Цена
                                        </button>
                                        <button type="button" class="bottom-block-catalog__filter-title">
                                            Производитель
                                        </button>
                                        <button type="button" class="bottom-block-catalog__filter-title _active">
                                            В наличии
                                        </button>
                                        <button type="button" class="bottom-block-catalog__filter-title">
                                            Состояние
                                        </button>
                                        <button type="button" class="bottom-block-catalog__filter-title">
                                            Оригинал
                                        </button>
                                    </div>
                                    <div class="bottom-block-catalog__select">
                                        <select name="form[]" class="form">
                                            <option value="1" selected>По цене (убывание)</option>
                                            <option value="2">По цене (убывание1)</option>
                                            <option value="3">По цене (убывание2)</option>
                                            <option value="4">По цене (убывание3)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="bottom-block-catalog__cards block-search">
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                    <div class="cart-catalog">
                                        <div class="cart-catalog__images">
                                            <div class="cart-catalog__slider swiper">
                                                <div class="cart-catalog__wrapper swiper-wrapper">
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                    <div class="cart-catalog__slide swiper-slide">
                                                        <img loading="lazy" src="img/image14.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-catalog__pagination"></div>
                                        </div>
                                        <div class="cart-catalog__item">
                                            <div class="cart-catalog__article">
                                                Арт.: BP4M61190D
                                            </div>
                                            <a href="#" class="cart-catalog__title">
                                                Маслянный фильтр
                                                на Mazda 3
                                            </a>
                                            <ul>
                                                <li>
                                                    <div class="cart-catalog__name">Производитель:</div>
                                                    <div class="cart-catalog__value">FLEST</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Состояние:</div>
                                                    <div class="cart-catalog__value">Новое</div>
                                                </li>
                                                <li>
                                                    <div class="cart-catalog__name">Наличие:</div>
                                                    <div class="cart-catalog__value">1</div>
                                                </li>
                                            </ul>
                                            <div class="cart-catalog__price">
                                                1 200 р.
                                            </div>
                                        </div>
                                        <div class="cart-catalog__bottom">
                                            <div data-quantity class="quantity">
                                                <button data-quantity-minus type="button"
                                                    class="quantity__button quantity__button_minus"></button>
                                                <div class="quantity__input">
                                                    <input data-quantity-value autocomplete="off" type="text"
                                                        name="form[]" value="1">
                                                </div>
                                                <button data-quantity-plus type="button"
                                                    class="quantity__button quantity__button_plus"></button>
                                            </div>
                                            <button type="button" class="btn">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                                {% include 'blocks/pagination-controls.njk' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>