<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Услуга</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main main-bg">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Услуги
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Ремонт двигателя</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-service block1">
                <div class="container">
                    <div class="block-service__content">
                        <div class="block-service__left">
                            <div class="block-service__button">
                                <div class="icon-service">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                все услуги
                            </div>
                            <div data-spollers data-one-spoller class="spollers-service">
                                <div class="spollers-service__top">
                                    <span>Все услуги</span>
                                    <div class="spollers-service__close">
                                        <img src="img/icon/close.svg" alt="">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт двигателя</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт турбины</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Диагностика</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт трансмиссии</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт АКПП, КПП</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт подвески</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт электрики</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт кондиционера</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт системы охлаждения</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт топливной системы</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт рулевого управления</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт выхлопной системы</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Техническое обслуживание</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Установка доп. оборудования</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Сход-развал</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <button type="button" data-spoller class="spollers-service__title">
                                        <span>Ремонт тормозной системы</span>
                                        <img src="img/icon/arrow1.svg" alt="">
                                    </button>
                                    <div class="spollers-service__body">
                                        <ul>
                                            <li>
                                                <a href="#">Диагностика АКПП</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика тормозной системы</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика системы охлаждения</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика рулевого</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика подвески</a>
                                            </li>
                                            <li>
                                                <a href="#">Комплексная диагностика ДВС</a>
                                            </li>
                                            <li>
                                                <a href="#">Компьютерная диагностика</a>
                                            </li>
                                            <li>
                                                <a href="#">Диагностика кондиционера</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Диагностика системы смазки</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Восстановление геометрии</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Диагностика и устранение течей</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Сажевый фильтр</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Диагностика двигателя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Диагностика ГРМ</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена и ремонт рулевых реек</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Ремонт и замена глушителя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена цепи или ремня ГРМ</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена рулевых наконечников</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена двигателя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена рулевых тяг</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена гофры глушителя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Капитальный ремонт двигателя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена масла ГУР</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена масла двигателя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена помпы</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Промывка дросселя</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена тормозных дисков</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Переборка головки блока</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Промывка расходомера</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена приводного ремня</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена прокладок</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена роликов приводного</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Замена датчиков</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Бесконтактная мойка кузова</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Кузов и коврики</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Чернение шин</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                                <div class="spollers-service__item">
                                    <a href="#" data-spoller class="spollers-service__title">
                                        <span>Комплексная автомойка</span>
                                    </a>
                                    <div class="spollers-service__body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-service__right">
                            <div class="block-service__column">
                                <h1 class="title2">Ремонт двигателя</h1>
                                <img src="img/image28.webp" alt="" class="block-service__pic1">
                                <div class="contacts-block-service">
                                    <div class="contacts-block-service__item">
                                        <div class="contacts-block-service__column">
                                            <div class="contacts-block-service__title">Стоимость услуг:</div>
                                            <div class="contacts-block-service__subtitle">от 2 500 руб</div>
                                            <div class="contacts-block-service__text">
                                                зависит от сложности
                                                и типа ремонта
                                            </div>
                                        </div>
                                        <div class="contacts-block-service__column">
                                            <div class="contacts-block-service__title">Телефон для записи на СТО:</div>
                                            <a href="tel:84992882443" class="contacts-block-service__subtitle">8 (499) 288-24-43</a>
                                            <div class="contacts-block-service__text">
                                                или оставьте заявку на сайте,
                                                мастер-приемщик свяжется с вами
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn">оставить заявку</a>
                                </div>
                                <div class="block-service__text">
                                    <p>
                                        Ремонт двигателя Mazda - это сложная и ответственная задача, требующая
                                        профессионализма и опыта. Владение автомобилем Mazda с проблемами двигателя
                                        может
                                        быть довольно неприятным, но вы можете положиться на нашу команду экспертов для
                                        решения любых проблем, связанных с двигателем вашего автомобиля.
                                    </p>
                                    <p>
                                        Наш сервисный центр специализируется на ремонте двигателей Mazda, и мы гордимся
                                        нашими высокими стандартами качества и профессионализмом. Наша команда опытных
                                        механиков обладает глубокими знаниями о двигателях Mazda и всегда готова
                                        предложить
                                        наиболее эффективные решения для вашего автомобиля.
                                    </p>
                                    <p>
                                        При обращении в наш сервисный центр для ремонта двигателя Mazda вы можете быть
                                        уверены в качестве используемых нами запчастей. Мы используем только
                                        оригинальные
                                        запчасти Mazda, которые соответствуют высоким стандартам производителя и
                                        обеспечивают надежность и долговечность вашего двигателя.
                                    </p>
                                    <p>
                                        Наша команда проведет комплексную диагностику вашего двигателя, чтобы точно
                                        определить
                                        причину неисправности и определить необходимые ремонтные работы. Мы используем
                                        современное диагностическое оборудование и техники, чтобы обеспечить точность и
                                        эффективность наших диагностических процедур.
                                    </p>
                                </div>
                            </div>
                            <div class="block-service__column">
                                <h4 class="title4">Мазда 6</h4>
                                <div class="block-service__text">
                                    <p>
                                        Ремонт двигателя Мазда 6 – сложная и ответственная задача, требующая опыта и
                                        знаний
                                        в области автомеханики. Мазда 6, в качестве популярной модели, обладает высокой
                                        производительностью и надежностью, но со временем и интенсивной эксплуатацией
                                        двигатель может потребовать ремонта.
                                    </p>
                                    <p>
                                        Одним из распространенных симптомов проблемы с двигателем Мазда 6 является
                                        появление
                                        странных звуков, тряски или потери мощности. Это может указывать на
                                        неисправности в
                                        системе смазки, охлаждения или внутренних компонентах двигателя. При первых
                                        признаках проблемы рекомендуется обратиться к специалистам для диагностики и
                                        оценки
                                        состояния двигателя.
                                    </p>
                                </div>
                                <img src="img/image29.webp" alt="" class="block-service__pic2">
                                <div class="block-service__text">
                                    <p>
                                        Ремонт двигателя Мазда 6 может включать в себя различные работы, в зависимости
                                        от конкретной проблемы. Одной из самых распространенных задач является ремонт
                                        или замена поврежденных или изношенных деталей, таких как поршни, кольца,
                                        клапаны или головка блока цилиндров. Эти работы требуют точности и
                                        профессионального подхода для обеспечения качественного восстановления
                                        двигателя.
                                    </p>
                                    <p>
                                        Если проблема с двигателем Мазда 6 связана с системой смазки или охлаждения,
                                        возможно потребуется заменить масляный насос, радиатор или другие компоненты.
                                        Правильная работа этих систем критически важна для предотвращения перегрева и
                                        износа двигателя.
                                    </p>
                                    <p>
                                        При ремонте двигателя Мазда 6 важно использовать качественные запчасти,
                                        соответствующие стандартам производителя. Такие запчасти обеспечат надежность и
                                        долговечность после ремонта,
                                        а также гарантируют совместимость с другими компонентами двигателя.
                                    </p>
                                    <p>
                                        Ремонт двигателя Мазда 6 может потребовать значительных временных и финансовых
                                        затрат, поэтому рекомендуется обратиться к опытным автомеханикам или
                                        автосервису, специализирующимся на ремонте Мазда 6 или схожих моделей. Это
                                        позволит вам быть уверенными в качестве проведенных работ
                                        и гарантированном результате.
                                    </p>
                                    <p>
                                        Подводя итог, ремонт двигателя Мазда 6 требует профессионального подхода и
                                        использования качественных запчастей. Следует обращаться к специалистам при
                                        первых признаках проблемы,
                                        чтобы предотвратить дальнейшее ухудшение состояния двигателя и обеспечить его
                                        надежную
                                        работу на протяжении многих лет.
                                    </p>
                                </div>
                            </div>
                            <div class="block-service__column">
                                <div class="heading-complex">
                                    <h4 class="title4">
                                        Центр сертифицирован
                                    </h4>
                                    <div class="heading-complex__arrows">
                                        <div class="certificates-block-service__arrow-prev arrow-prev">
                                            <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                        </div>
                                        <div class="certificates-block-service__arrow-next arrow-next">
                                            <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="certificates-block-service">
                                    <div class="certificates-block-service__slider swiper">
                                        <div class="certificates-block-service__wrapper swiper-wrapper">
                                            <a href="img/certificate1.webp" data-fancybox="gallery2"
                                                class="certificates-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/certificate1.webp" alt="">
                                            </a>
                                            <a href="img/certificate2.webp" data-fancybox="gallery2"
                                                class="certificates-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/certificate2.webp" alt="">
                                            </a>
                                            <a href="img/certificate3.webp" data-fancybox="gallery2"
                                                class="certificates-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/certificate3.webp" alt="">
                                            </a>
                                            <a href="img/certificate4.webp" data-fancybox="gallery2"
                                                class="certificates-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/certificate4.webp" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="certificates-block-service__pagination pagination2"></div>
                                </div>
                            </div>
                            <div class="block-service__column">
                                <h4 class="title4">Ремонт двигателя Mazda в R1 — это:</h4>
                                <ul>
                                    <li>
                                        Ремонт двигателей Mazda осуществляется опытными мастерами, знающими тонкости
                                        работы
                                        японских моторов.
                                    </li>
                                    <li>
                                        Перед оказанием услуги проводится комплексная диагностика, позволяющая выявить
                                        проблемы в системе.
                                    </li>
                                    <li>
                                        На все выполненные ремонтные работы предоставляется гарантия.
                                    </li>
                                </ul>
                            </div>
                            <div class="block-service__column">
                                <div class="gallery-block-service">
                                    <div class="heading-complex">
                                        <h4 class="title4">
                                            Фото с ремзоны
                                        </h4>
                                        <div class="heading-complex__arrows">
                                            <div class="gallery-block-service__arrow-prev arrow-prev">
                                                <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="gallery-block-service__arrow-next arrow-next">
                                                <img loading="lazy" src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gallery-block-service__slider swiper">
                                        <div class="gallery-block-service__wrapper swiper-wrapper">
                                            <a href="img/image5.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image5.webp" alt="">
                                            </a>
                                            <a href="img/image6.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image6.webp" alt="">
                                            </a>
                                            <a href="img/image8.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image8.webp" alt="">
                                            </a>
                                            <a href="img/image9.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image9.webp" alt="">
                                            </a>
                                            <a href="img/image7.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image7.webp" alt="">
                                            </a>
                                            <a href="img/image5.webp" data-fancybox="gallery1"
                                                class="gallery-block-service__slide swiper-slide">
                                                <img loading="lazy" src="img/image5.webp" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="gallery-block-service__pagination pagination2"></div>
                                </div>
                            </div>
                            <div class="block-service__column">
                                <div class="block-banner">
                                    <div class="block-banner__content">
                                        <div class="block-banner__body">
                                            <h2 class="title2">
                                                Получайте до 20% кэшбека
                                                за каждое посещение сервиса
                                                в мобильном приложении R1
                                            </h2>
                                            <div class="block-banner__center">
                                                <p>
                                                    Оплачивайте ремонтные работы баллами
                                                    из приложения, узнавайте первыми об
                                                    сезонных акциях и спецпредложениях
                                                </p>
                                            </div>
                                            <div class="block-banner__sale">
                                                <img src="img/sale.svg" alt="">
                                                <div class="block-banner__title">Новым клиентам:</div>
                                                <div class="block-banner__subtitle">Скидка 20%</div>
                                            </div>
                                            <div class="block-banner__applications">
                                                <a href="#">
                                                    <img loading="lazy" src="img/applications1.webp" alt="">
                                                </a>
                                                <a href="#">
                                                    <img loading="lazy" src="img/applications2.webp" alt="">
                                                </a>
                                                <div data-da=".block-banner__body, 992" class="block-banner__top">
                                                    <div class="block-banner__images">
                                                        <img loading="lazy" src="img/avatar1.webp" alt="">
                                                        <img loading="lazy" src="img/avatar2.webp" alt="">
                                                        <img loading="lazy" src="img/avatar3.webp" alt="">
                                                        <img loading="lazy" src="img/avatar4.webp" alt="">
                                                    </div>
                                                    <p>
                                                        <span>2 985 владельца</span> используют приложение
                                                        R1
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <img loading="lazy" src="img/image27.webp" alt="" class="block-banner__pic1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/benefits1.njk' %}

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>