<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Услуги</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Услуги
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Mazda</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-services2 block1">
                <div class="container">
                    <h1 class="title2">
                        Ремонт Mazda
                    </h1>
                    <div class="block-services2__body">
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Диагностика<br>
                                    автомобиля
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon15.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Защита<br>
                                    от угона
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon3.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    АКПП, КПП
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon4.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Выхлопная<br>
                                    система
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon8.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    двигателя
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon1.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    кондиционера
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon9.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    подвески
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon10.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Раздаточная<br>
                                    коробка
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon14.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Рулевое<br>
                                    управление
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon17.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Система<br>
                                    охлаждения
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon11.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Топливная<br>
                                    система
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon6.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Тормозная<br>
                                    система
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon28.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    трансмиссии
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon16.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    турбины
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon13.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Ремонт<br>
                                    электрики
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon5.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Сход-<br>
                                    развал
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon16.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Техническое<br>
                                    обслуживание
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon7.svg" alt="">
                            </div>
                        </a>
                        <a href="#" class="block-services2__column">
                            <div class="block-services2__item">
                                <div class="block-services2__title">
                                    Шиномонтаж<br>
                                    автомобиля
                                </div>
                                <div class="block-services2__link">
                                    <span>Подробнее</span>
                                    <img loading="lazy" src="img/icon/arrow1.svg" alt="">
                                </div>
                            </div>
                            <div class="block-services2__icon">
                                <img loading="lazy" src="img/icon/icon2.svg" alt="">
                            </div>
                        </a>
                        <div class="block-services2__column column-last">
                            <div class="consultation-block-services2">
                                <div class="consultation-block-services2__title">
                                    Нужна консультация?
                                </div>
                                <p>
                                    Оставьте заявку, мы перезвоним и бесплатно
                                    проконсультируем по любому вопросу
                                </p>
                                <a href="#" data-popup="#request-call" class="btn">перезвоните мне</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/benefits1.njk' %}

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>