<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Наша команда</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main main-bg">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icon/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Наша команда</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-team block1">
                <div class="container">
                    <div class="block-team__content">
                        <div class="block-team__top">
                            <h1 class="title2">Наша команда</h1>
                            <div class="block-team__titles">
                                <div class="block-team__title">
                                    <span>миссия команды</span>
                                </div>
                                <p>
                                    Команда автосервиса — это группа квалифицированных специалистов, работающих в
                                    автосервисе для предоставления услуг по диагностике, ремонту и техническому
                                    обслуживанию автомобилей, обеспечивая высокое качество, надежность и удобство для
                                    клиентов. Ключевые черты такой команды включают профессионализм, использование
                                    современного оборудования, предоставление гарантий на работы
                                    и запчасти, а также клиентоориентированный подход с акцентом на доверие и
                                    прозрачность.
                                </p>
                            </div>
                        </div>
                        <div class="bottom-block-team">
                            <div class="bottom-block-team__columns">
                                <div class="bottom-block-team__title">Администрация</div>
                                <div class="bottom-block-team__body">
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image20.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image21.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image22.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image23.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block-team__columns">
                                <div class="bottom-block-team__title">Филиал «Мелитопольская»</div>
                                <div class="bottom-block-team__body">
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image23.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image22.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image21.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image20.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-block-team__columns">
                                <div class="bottom-block-team__title">Филиал «Мелитопольская»</div>
                                <div class="bottom-block-team__body">
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image21.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image23.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image20.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom-block-team__column">
                                        <img loading="lazy" src="img/image22.webp" alt="">
                                        <div class="bottom-block-team__item">
                                            <div class="bottom-block-team__name">
                                                Соколов Андрей Викторович
                                            </div>
                                            <span>
                                                Управляющий филиалом
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

            {% include 'blocks/reviews3.njk' %}

        </main>
        {% include 'blocks/footer2.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    {% include 'blocks/popup.njk' %}
</body>

</html>