body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black);
  .lock & {
    overflow: hidden;
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-hover & {
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
  .menu-open & {
    @media (max-width: 1200px) {
      overflow: hidden;
    }
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
  .filter-open & {
    @media (max-width: 1200px) {
      overflow: hidden;
    }
    &::before {
      content: "";
      z-index: 150;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.breadcrumbs {
  position: relative;
  z-index: 10;
  border-bottom: none;
  padding: 28px 0px 55px 0px;
  @media (max-width: 768px) {
    padding: 23px 0px 20px 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey-text);
    @media (max-width: 768px) {
      font-size: 12px;
    }
    img {
      width: 12px;
      height: 12px;
      display: block;
      margin: 0px 8px;
      @media (max-width: 768px) {
        width: 10px;
        height: 10px;
        margin: 0px 4px;
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        color 0.3s,
        opacity 0.3s;
      &:hover {
        color: var(--blue);
      }
    }
    span {
      pointer-events: none;
      color: var(--black);
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 52px;
  width: 220px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  padding: 5px 10px;
  background-color: var(--accent);
  border-radius: 100px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #1494d9;
  }
  &.btn-border {
    font-size: 13px;
    width: 150px;
    border: 2px solid var(--accent);
    background-color: var(--white);
    color: var(--accent);
    min-height: 42px;
    transition:
      background-color 0.3s,
      color 0.3s;
    @media (max-width: 768px) {
      min-height: 40px;
      width: 140px;
      font-size: 12px;
    }
    &:hover {
      color: var(--accent);
      background-color: var(--white);
    }
  }
  @media (max-width: 768px) {
    font-size: 14px;
    width: 179px;
  }
}

.title1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 114%;
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 129%;
  }
}

.title2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 121%;
  margin: 0px 0px 50px 0px;
  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 133%;
    margin: 0px 0px 28px 0px;
    &::first-letter {
      text-transform: capitalize;
    }
    span {
      display: none;
    }
  }
}

.title3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.title4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.block1 {
  margin: 0px 0px 100px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 52px 0px;
  }
}

.block2 {
  padding: 100px 0px;
  @media (max-width: 768px) {
    padding: 52px 0px;
  }
}

.heading-complex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 0px 48px 0px;
  gap: 10px 30px;
  @media (max-width: 768px) {
    margin: 0px 0px 28px 0px;
    gap: 20px;
  }
  .title2 {
    margin: 0px 0px 0px 0px;
  }

  // .heading-complex__link

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 144%;
    text-align: right;
    color: var(--accent);
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 4px 0px;
    transition: opacity 0.3s;
    img {
      filter: invert(71%) sepia(442%) saturate(5702%) hue-rotate(182deg) brightness(94%) contrast(101%);
      width: 14px;
      height: 14px;
      margin: 2px 0px 0px 0px;
    }
    span {
      &.desc {
        @media (max-width: 768px) {
          display: none;
        }
      }
      &.mob {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 768px) {
      margin: 0px 0px 0px 0px;
      line-height: 100%;
    }
  }

  // .heading-complex__arrows

  &__arrows {
    display: flex;
    gap: 16px;
    @media (max-width: 768px) {
      gap: 12px;
    }
  }
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 48px 0px 0px 0px;
  @media (max-width: 768px) {
    gap: 10px;
    margin: 28px 0px 0px 0px;
  }
  @media (max-width: 375px) {
    gap: 8px;
  }
  // .pagination-controls__item
  &__item {
    width: 33px;
    height: 33px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 50%;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent);
    text-align: center;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--grey-stroke);
    }
    // .pagination-controls__item_nav

    &_nav {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--accent);
      width: 32px;
      height: 32px;
      flex: 0 0 32px;
      border-radius: 50%;
      img {
        width: 16px;
        height: 16px;
        filter: invert(71%) sepia(442%) saturate(5702%) hue-rotate(182deg) brightness(94%) contrast(101%);
      }
    }

    // .pagination-controls__item_nav-prev

    &_nav-prev {
      margin: 0px 20px 0px 0px;
      @media (max-width: 370px) {
        margin: 0px 10px 0px 0px;
      }
      img {
        transform: rotate(-180deg);
      }
    }

    // .pagination-controls__item_active

    &_active {
      background-color: var(--accent);
      color: #fff;
    }

    // .pagination-controls__item_ellipsis

    &_ellipsis {
      width: 13px;
      height: 16px;
      pointer-events: none;
    }

    // .pagination-controls__item_nav-next

    &_nav-next {
      margin: 0px 0px 0px 20px;
      @media (max-width: 370px) {
        margin: 0px 0px 0px 10px;
      }
    }
  }
}

.filter-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px 0px 48px 0px;
  @media (max-width: 768px) {
    gap: 8px;
    margin: 0px 0px 28px 0px;
  }
  // .filter-navigation__title

  &__title {
    flex: 0 0 auto;
    border: 2px solid var(--accent);
    border-radius: 27px;
    padding: 12px 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    transition: opacity 0.3s;
    &._active {
      pointer-events: none;
      background-color: var(--accent);
      color: var(--white);
    }
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 768px) {
      font-size: 10px;
      padding: 9px 20px;
    }
  }

  // .filter-navigation__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    padding: 12px 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--accent);
    span {
      border-bottom: 1px solid rgba(0, 128, 197, 0.2);
      transition: border-bottom 0.3s;
    }
    &:hover {
      span {
        border-bottom: 1px solid rgba(0, 128, 197, 1);
      }
    }
    @media (max-width: 768px) {
      font-size: 10px;
      padding: 9px 12px;
    }
  }
}

//========================================================================================================================================================

.contacts {
  display: flex;
  align-items: start;
  gap: 14px;
  @media (max-width: 768px) {
    gap: 20px;
  }
  svg {
    fill: var(--black);
    @media (max-width: 374px) {
      display: none;
    }
  }
  // .contacts__phone

  &__phone {
    display: flex;
    flex-direction: column;
    gap: 3px;
    a {
      font-weight: 700;
      font-size: 20px;
      transition: color 0.3s;
      &:hover {
        color: #0080c5;
      }
    }
    span {
      font-weight: 300;
      font-size: 14px;
    }
  }

  // .contacts__icons

  &__icons {
    margin: -2px 0px 0px 0px;
    display: flex;
    gap: 11px;
    img {
      width: 23px;
      height: 23px;
    }
    @media (max-width: 768px) {
      gap: 15px;
    }
  }
  // .contacts__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    background-color: var(--grey-background);
    svg {
      display: block;
      fill: var(--accent);
    }
  }
}
.work {
  display: flex;
  align-items: start;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  gap: 10px;
  img {
    width: 18px;
    height: 18px;
    margin: 3px 0px 0px 0px;
  }
  @media (max-width: 768px) {
    br {
      display: none;
    }
  }
}
.location {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }
  a {
    font-weight: 500;
    font-size: 15px;
    color: var(--accent);
    padding: 1px 0px 0px 0px;
    border-bottom: 1px solid rgba(0, 128, 197, 0.2);
    transition: border-bottom 0.3s;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  // .location__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--grey-background);
    img {
      width: 16px;
      height: 16px;
    }
  }

  // .location__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // .location__title

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  // .location__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
}
.socials {
  display: flex;
  align-items: center;
  gap: 24px;
  span {
    font-weight: 300;
    font-size: 14px;
  }
  // .socials__icons

  &__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 25px;
    a {
      display: flex;
      transition: opacity 0.3s;
      svg {
        fill: var(--black);
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.email {
  font-weight: 500;
  font-size: 16px;
  color: var(--accent);
  border-bottom: 1px solid rgba(0, 128, 197, 0.2);
  transition:
    border-bottom 0.3s,
    opacity 0.3s;
  &:hover {
    opacity: 0.7;
    border-bottom: 1px solid transparent;
  }
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.search {
  position: relative;
  height: 44px;
  &._active {
    .dropdowm-search {
      opacity: 1;
      pointer-events: auto;
    }
  }
  // .search__content

  &__content {
    display: flex;
  }

  // .search__input

  &__input {
    height: 44px;
    flex: 1 1 auto;
    background: var(--white);
    border: 1px solid #e7e7e7;
    input {
      width: 100%;
      height: 100%;
      padding: 5px 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      &::placeholder {
        color: var(--grey-text);
      }
    }
  }

  // .search__button

  &__button {
    flex: 0 0 150px;
    text-transform: none;
    border-radius: 0px;
    height: 44px;
    min-height: auto;
    gap: 12px;
    width: 100%;
    img {
      width: 14px;
      height: 14px;
    }
    @media (max-width: 768px) {
      flex: 0 0 44px;
      width: 44px;
      span {
        display: none;
      }
    }
  }
}
.dropdowm-search {
  position: absolute;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  width: 100%;
  top: 100%;
  margin: 8px 0px 0px 0px;
  box-shadow: 0 8px 16px 0 rgba(21, 22, 23, 0.12);
  background: var(--white);
  color: var(--black);
  @media (max-width: 768px) {
    left: 8px;
    width: calc(100% - 16px);
  }
  .btn {
    min-height: 44px;
    width: 100%;
    border-radius: 0px;
    font-weight: 500;
    color: var(--blue);
    background: var(--grey-stroke);
    text-transform: none;
  }
  // .dropdowm-search__simplebar

  &__simplebar {
    height: 396px;
    ul {
      li {
        padding: 16px 20px;
        border-bottom: 1px solid var(--grey-stroke);
        a {
          display: flex;
          align-items: center;
          gap: 20px;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  // .dropdowm-search__image

  &__image {
    flex: 0 0 52px;
    height: 60px;
    border: 1px solid var(--grey-stroke);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .dropdowm-search__title

  &__title {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    span {
      font-weight: 500;
      color: var(--blue);
    }
  }

  // .dropdowm-search__price

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
  }
}

.showmore-button {
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 40px;
  margin: 15px 0px 0px 0px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: var(--blue);
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  span {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      fill: var(--blue);
    }
    &:last-child {
      display: none;
    }
  }
  &._showmore-active {
    margin: 15px 0px 0px 0px;
    span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: flex;
      }
    }
  }
}
