.select {
	width: 100%;
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		width: 100%;
		color: inherit;
		text-align: left;
		background-color: transparent;
		transition: background-color 0.3s;
		cursor: pointer;
		width: 100%;
		font-weight: 500;
		font-size: 16px;
		line-height: 175%;
		padding: 0px 15px 13px 0px;
		display: flex;
		justify-content: space-between;
		gap: 6px;
		@media (max-width: 768px) {
			font-size: 15px;
			padding: 0px 12px 13px 0px;
		}
		&::after {
			content: "";
			transition: transform 0.3s;
			width: 12px;
			height: 8px;
			display: block;
			margin: 11px 0px 0px 0px;
			background-size: 100% 100%;
			background-image: url("../img/icon/arrow.svg");
			@media (max-width: 768px) {
				width: 11px;
				height: 6px;
				margin: 12px 0px 0px 0px;
			}
		}
		._select-open & {
			&::after {
				content: "";
				transform: rotate(-180deg);
			}
		}
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		overflow: hidden;
		align-items: center;
		text-align: left;
		flex: 1 1 auto;
	}

	// .select__row
	&__row {
		display: flex;
		align-items: center;
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		overflow: hidden;
		text-align: left;
		justify-content: flex-start;
		-webkit-box-pack: start;
		width: 100%;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// .select__options
	&__options {
		position: absolute;
		top: 100%;
		min-width: 100%;
		left: 0;
		background-color: var(--white);
		border-top: 0;
		border-top: 0;
		padding: 10px 0px 5px 0px;
		max-height: 115px;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 20px;
		color: inherit;
		font-weight: 500;
		font-size: 16px;
		line-height: 133%;
		color: var(--blue);
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.7;
		}
		@media (max-width: 768px) {
			font-size: 15px;
		}
	}
}

.form {
	color: var(--white);
	position: relative;
	z-index: 11;
	flex: 0 0 610px;
	width: 610px;
	background: #0a709d;
	margin: 80px 0px;
	padding: 80px;
	@media (max-width: 1270px) {
		width: 100%;
		flex: 1 1 auto;
		margin: 0px 0px 0px 0px;
		padding: 52px 0px 32px 0px;
		background-color: transparent;
	}
	.title2 {
		margin: 0px 0px 0px 0px;
	}
	// .form__top

	&__top {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 16px;
		margin: 0px 0px 32px 0px;
		@media (max-width: 768px) {
			gap: 15px;
			margin: 0px 0px 24px 0px;
		}
		span {
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			padding: 2px 6px;
			color: var(--blue);
			background: var(--white);
			@media (max-width: 768px) {
				font-size: 12px;
				padding: 1px 6px;
			}
		}
	}

	// .form__center

	&__center {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0px 0px 12px 0px;
	}

	// .form__input

	&__input {
		border: 1px solid transparent;
		display: flex;
		gap: 18px;
		background: var(--white);
		border-radius: 34px;
		height: 68px;
		padding: 5px 32px;
		align-items: center;
		&._form-error {
			border: 1px solid red;
		}
		@media (max-width: 768px) {
			gap: 15px;
			height: 52px;
			padding: 5px 24px;
		}
		input {
			width: 100%;
			font-weight: 400;
			line-height: 100%;
			color: var(--black);
			font-size: 16px;
			&::placeholder {
				color: var(--grey-text);
			}
		}
		textarea {
			width: 100%;
			font-weight: 300;
			font-size: 16px;
			line-height: 175%;
			color: var(--white);
			height: 84px;
			padding: 0px 13px 13px 0px;
			&::placeholder {
				color: rgba(255, 255, 255, 0.6);
			}
			@media (max-width: 768px) {
				font-size: 15px;
				height: 100px;
				padding: 0px 13px 15px 0px;
			}
		}
		&.phone {
			svg {
				transform: scale(-1) rotate(90deg);
			}
		}
		svg {
			margin: 5px 0px 0px 0px;
			fill: var(--grey-text);
		}
	}

	// .form__bottom

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 28px;
		@media (max-width: 1270px) {
			gap: 20px;
		}
		p {
			font-weight: 400;
			font-size: 13px;
			line-height: 169%;
			@media (max-width: 1270px) {
				width: 100%;
				text-align: center;
			}
			@media (max-width: 768px) {
				text-align: center;
				font-size: 10px;
				line-height: 160%;
				text-align: center;
			}
			a {
				text-decoration: underline;
				transition: opacity 0.3s;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		.btn {
			width: 100%;
			min-height: 68px;
			@media (max-width: 768px) {
				min-height: 52px;
			}
		}
	}
}

.quantity {
	width: 100%;
	height: 44px;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		cursor: pointer;
		transition: opacity 0.3s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -6px;
			background-color: var(--black);
			width: 12px;
			height: 2px;
		}
		&:hover {
			opacity: 0.7;
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			text-align: center;
			width: 100%;
		}
	}
}
