.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 122px 0px 0px 0px;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 113px 0px 0px 0px;
  }
  &.main-bg {
    background: var(--grey-background);
  }
  &.main-forms {
    padding: 74px 0px 0px 0px;
    @media (max-width: 768px) {
      padding: 65px 0px 0px 0px;
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 15px;
}

.block-service {
  // .block-service__content

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-width: 0;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .block-service__left

  &__left {
    flex: 0 0 295px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
    }
  }

  // .block-service__button

  &__button {
    display: none;
    @media (max-width: 992px) {
      border: 2px solid var(--accent);
      border-radius: 26px;
      padding: 5px 20px;
      min-height: 52px;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      transition: color 0.3s;
      display: none;
      gap: 16px;
      .icon-service {
        display: flex;
        flex-direction: column;
        gap: 3px;
        span {
          border-radius: 10px;
          display: block;
          height: 2px;
          width: 18px;
          background-color: var(--accent);
        }
      }
      &:hover {
        color: var(--accent);
      }
      @media (max-width: 992px) {
        display: flex;
      }
    }
  }

  // .block-service__right

  &__right {
    display: flex;
    flex-direction: column;
    gap: 48px;
    min-width: 0;
    flex: 0 1 885px;
    @media (max-width: 992px) {
      flex: 1 1 auto;
      gap: 40px;
    }
    .title2 {
      margin: 0px 0px 28px 0px;
      @media (max-width: 768px) {
        margin: 0px 0px 20px 0px;
      }
    }
    .title4 {
      margin: 0px 0px 28px 0px;
      @media (max-width: 768px) {
        margin: 0px 0px 24px 0px;
      }
    }
    .heading-complex {
      align-items: center;
      margin: 0px 0px 24px 0px;
      @media (max-width: 768px) {
        margin: 0px 0px 18px 0px;
      }
      .title4 {
        margin: 0px 0px 0px 0px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 768px) {
        gap: 16px;
      }
      li {
        display: flex;
        gap: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        &::before {
          content: "";
          flex: 0 0 8px;
          display: block;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background-color: var(--accent);
          margin: 7px 0px 0px 0px;
        }
      }
    }
    .block-banner {
      margin: 30px 0px 0px 0px;
      .title2 {
        font-size: 24px;
        line-height: 133%;
        max-width: 390px;
        @media (max-width: 992px) {
          order: 1;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      .block-banner__pic1 {
        height: calc(100% + 30px);
        @media (max-width: 992px) {
          height: 70%;
          right: 20px;
        }
        @media (max-width: 550px) {
          height: 47%;
          bottom: 25%;
        }
        @media (max-width: 370px) {
          right: -20px;
          height: 40%;
          bottom: 35%;
        }
      }
      .block-banner__body {
        padding: 40px;
        gap: 16px;
        @media (max-width: 768px) {
          padding: 20px;
        }
      }
      .block-banner__center {
        max-width: 450px;
        p {
          font-size: 14px;
          line-height: 157%;
          padding: 0px;
        }
        @media (max-width: 992px) {
          order: 4;
        }
      }
      .block-banner__applications {
        position: relative;
        z-index: 10;
        margin: 8px 0px 0px 0px;
        gap: 8px;
        a {
          height: 40px;
        }
        @media (max-width: 1270px) {
          flex-wrap: wrap;
        }
        @media (max-width: 992px) {
          order: 5;
          margin: 0px 0px 0px 0px;
        }
      }
      .block-banner__sale {
        gap: 4px;
        right: 40px;
        bottom: 40px;
        padding: 14px 20px;
        width: 155px;
        height: 62px;
        img {
          width: 155px;
          height: 62px;
        }
        @media (max-width: 992px) {
          order: 2;
          right: 0;
          bottom: 0;
          margin: 0px 0px 4px 0px;
        }
      }
      .block-banner__title {
        font-size: 12px;
      }
      .block-banner__subtitle {
        font-size: 18px;
      }
      .block-banner__top {
        margin: 0px 0px 0px 20px;
        @media (max-width: 1270px) {
          flex: 1 1 100%;
          margin: 10px 0px 0px 0px;
        }
        @media (max-width: 992px) {
          order: 3;
          margin: 0px 0px 0px 0px;
        }
        p {
          display: flex;
          align-items: start;
          flex-direction: column;
          font-size: 14px;
          line-height: 143%;
          @media (max-width: 768px) {
            font-size: 12px;
            line-height: 150%;
          }
        }
      }
    }
  }

  // .block-service__pic1

  &__pic1 {
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin: 0px 0px 20px 0px;
    @media (max-width: 1300px) {
      height: 100%;
      max-height: 400px;
    }
    @media (max-width: 768px) {
      min-height: 156px;
      margin: 0px 0px 16px 0px;
    }
  }

  // .block-service__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 768px) {
      gap: 20px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
  }

  // .block-service__pic2

  &__pic2 {
    height: 300px;
    width: 50%;
    object-fit: cover;
    margin: 28px 0px 28px 0px;
    @media (max-width: 1300px) {
      width: 100%;
      max-height: 300px;
      min-height: 234px;
    }
    @media (max-width: 768px) {
      margin: 24px 0px;
    }
  }
}
.contacts-block-service {
  margin: 0px 0px 40px 0px;
  background: var(--white);
  border: 1px solid var(--grey-stroke);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px 20px;
  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: start;
  }
  @media (max-width: 768px) {
    padding: 20px;
    gap: 16px;
    margin: 0px 0px 32px 0px;
  }
  .btn {
    flex: 0 0 235px;
    width: 235px;
    padding: 5px 44px;
    @media (max-width: 1200px) {
      flex: 0 1 auto;
    }
    @media (max-width: 600px) {
      width: 100%;
      padding: 5px 20px;
    }
  }
  // .contacts-block-service__item

  &__item {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  // .contacts-block-service__column

  &__column {
    margin: 0px 40px 0px 0px;
    padding: 0px 40px 0px 0px;
    border-right: 1px solid var(--grey-stroke-2);
    @media (max-width: 600px) {
      padding: 0px 0px 16px 0px;
      margin: 0px 0px 16px 0px;
      border-right: none;
      border-bottom: 1px solid var(--grey-stroke-2);
    }
    &:last-child {
      border-right: none;
      border-bottom: none;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }
    a {
      transition: color 0.3s;
      &:hover {
        color: var(--accent);
      }
    }
  }

  // .contacts-block-service__title

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin: 0px 0px 12px 0px;
    @media (max-width: 600px) {
      font-size: 14px;
      margin: 0px 0px 8px 0px;
    }
  }

  // .contacts-block-service__subtitle

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    white-space: nowrap;
    margin: 0px 0px 20px 0px;
    @media (max-width: 600px) {
      margin: 0px 0px 12px 0px;
      font-size: 20px;
    }
  }

  // .contacts-block-service__text

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--grey-text-2);
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
}
.certificates-block-service {
  // .certificates-block-service__slider

  &__slider {
    @media (max-width: 992px) {
      margin: 0px -15px;
      padding: 0px 15px;
      width: calc(100% + 30px);
    }
  }

  // .certificates-block-service__wrapper

  &__wrapper {
  }

  // .certificates-block-service__slide

  &__slide {
    display: flex;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  // .certificates-block-service__pagination

  &__pagination {
    margin: 28px 0px 0px 0px !important;
    @media (max-width: 768px) {
      margin: 24px 0px 0px 0px !important;
    }
  }
}
.gallery-block-service {
  // .gallery-block-service__arrow-prev

  &__arrow-prev {
  }

  // .gallery-block-service__arrow-next

  &__arrow-next {
  }

  // .gallery-block-service__slider

  &__slider {
    @media (max-width: 992px) {
      margin: 0px -15px;
      padding: 0px 15px;
      width: calc(100% + 30px);
    }
  }

  // .gallery-block-service__wrapper

  &__wrapper {
  }

  // .gallery-block-service__slide

  &__slide {
    display: flex;
    height: auto;
    img {
      width: 100%;
      height: 161px;
      object-fit: cover;
      @media (max-width: 768px) {
        height: 165px;
      }
    }
  }

  // .gallery-block-service__pagination

  &__pagination {
    margin: 28px 0px 0px 0px !important;
    @media (max-width: 768px) {
      margin: 24px 0px 0px 0px !important;
    }
  }
}

.spollers-service {
  display: flex;
  flex-direction: column;
  gap: 2px;
  @media (max-width: 992px) {
    width: 295px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    gap: 0px;
    background: var(--grey-background);
    transition: left 0.3s;
    z-index: 155;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .filter-open & {
      left: 0;
    }
  }
  @media (max-width: 480px) {
    width: calc(100% - 15px);
  }

  // .spollers-service__top

  &__top {
    display: none;
    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      min-height: 52px;
      padding: 5px 20px;
      background: var(--accent);
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      color: var(--white);
    }
  }

  // .spollers-service__close

  &__close {
    img {
      width: 24px;
      filter: invert(1) brightness(1000%);
      height: 24px;
    }
  }

  // .spollers-service__item

  &__item {
    background: var(--white);
    @media (max-width: 992px) {
      border-bottom: 1px solid var(--grey-stroke);
    }
  }

  // .spollers-service__title

  &__title {
    cursor: pointer;
    width: 100%;
    min-height: 52px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: var(--accent);
    img {
      transform: rotate(90deg);
      transition: transform 0.3s;
      width: 16px;
      height: 16px;
      filter: invert(78%) sepia(57%) saturate(5035%) hue-rotate(184deg) brightness(95%) contrast(102%);
    }
    &._spoller-active {
      img {
        transform: rotate(-90deg);
      }
    }
  }

  // .spollers-service__body

  &__body {
    ul {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 0px 20px 20px 20px;
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: var(--grey-text-2);
          transition: color 0.3s;
          &:hover {
            color: var(--black);
          }
        }
      }
    }
  }
}
