.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 121px 0px 0px 0px;
  background: var(--grey-background);
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 83px 0px 0px 0px;
  }
  &.order {
    overflow: visible;
    @media (max-width: 992px) {
      overflow: hidden;
    }
  }
  &.home {
    background: var(--white);
    padding: 0px 0px 0px 0px;
  }
  &.other {
    padding: 122px 0px 0px 0px;
    @media (max-width: 768px) {
      padding: 113px 0px 0px 0px;
    }
  }
  &.other2 {
    padding: 122px 0px 0px 0px;
    @media (max-width: 768px) {
      padding: 113px 0px 0px 0px;
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 15px;
}
