body::after {
    content: "";
    backdrop-filter: blur(8px);
    background: rgba(21, 22, 23, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    background: var(--white);
    padding: 60px;
    .lock & {
        visibility: visible;
    }
    @media (max-width: 768px) {
        padding: 20px;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 28px;
    z-index: 10;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 28px;
        height: 28px;
    }
    @media (max-width: 768px) {
        top: 20px;
        right: 20px;
        img {
            width: 26px;
            height: 26px;
        }
    }
    @media (max-width: 370px) {
        top: 10px;
        right: 10px;
    }
}

.popup {
    // .popup__body

    &__body {
    }

    // .popup__title

    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        margin: 0px 0px 40px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 30px 0px;
        }
    }
}

#buy-click {
    .form {
        color: var(--black);
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: 768px) {
            gap: 30px;
        }
    }
    .form__inputs {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 768px) {
            gap: 20px;
        }
    }
    .form__input {
        flex-direction: column;
        gap: 12px;
        border-bottom: none;
        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
        }
        input {
            border: 1px solid var(--grey-stroke);
            height: 44px;
            padding: 5px 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: var(--black);
            &::placeholder {
                color: var(--grey-text);
            }
            &._form-error {
                border: 1px solid red;
            }
        }
    }
    .btn {
        min-height: 52px;
        border-radius: 0px;
        width: 229px;
        font-weight: 500;
        font-size: 16px;
        text-transform: none;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

#request-call {
    .popup__content {
        max-width: 1030px;
        padding: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            height: 100%;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .popup__close {
        right: 15px;
        top: 15px;
        width: 16px;
        height: 16px;
        @media (max-width: 768px) {
            width: 14px;
            height: 14px;
            top: 20px;
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}

#sign-up {
    @media (max-width: 768px) {
        padding: 0px 0px 0px 0px;
    }
    .popup__wrapper {
        @media (max-width: 768px) {
            height: 100%;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .popup__content {
        max-width: 980px;
        padding: 0px 0px 0px 0px;
        @media (max-width: 768px) {
            height: 100%;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .popup__close {
        right: 15px;
        top: 15px;
        width: 16px;
        height: 16px;
        @media (max-width: 768px) {
            width: 14px;
            height: 14px;
            top: 20px;
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
    .popup-request-call__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            justify-content: start;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 768px) {
            justify-content: start;
        }
    }
}

.popup-request-call {
    .form {
        padding: 0px 0px 0px 0px;
        color: var(--black);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: auto;
        margin: 0px 0px 0px 0px;
    }
    .form__top {
        gap: 18px;
        margin: 0px 0px 33px 0px;
        align-items: start;
        flex-direction: column;
        @media (max-width: 768px) {
            margin: 0px 0px 40px 0px;
            gap: 15px;
        }
        .title2 {
            font-weight: 700;
            font-size: 26px;
            line-height: 123%;
            text-align: left;
        }
        span {
            color: var(--white);
            background: var(--black);
        }
    }
    .select__title::after {
        filter: invert(114%) sepia(5%) saturate(1224%) hue-rotate(169deg) brightness(90%) contrast(89%);
    }
    .select__options {
        box-shadow: 0 8px 16px 0 rgba(21, 22, 23, 0.12);
    }
    .form__input {
        border: none;
        background: var(--grey-background);
        border-radius: 34px;
        height: 68px;
        padding: 5px 32px;
        @media (max-width: 768px) {
            height: 52px;
            padding: 5px 24px;
        }
        svg {
            fill: var(--grey-text-2);
            margin: 0px 0px 0px 0px;
        }
        input {
            color: var(--black);
            &::placeholder {
                color: var(--grey-text-2);
            }
        }
        &._form-error {
            border: 1px solid red;
        }
    }
    .form__center {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 12px;
        margin: 0px 0px 12px 0px;
    }
    .form__bottom {
        gap: 28px;
        width: 100%;
        @media (max-width: 768px) {
            gap: 20px;
        }
        p {
            text-align: left;
            font-size: 12px;
            color: var(--grey-text-2);
            @media (max-width: 992px) {
                text-align: center;
                width: 100%;
                display: block;
            }
            @media (max-width: 768px) {
                font-size: 10px;
            }
        }
    }
    .btn {
        width: 100%;
        min-height: 68px;
        @media (max-width: 768px) {
            min-height: 52px;
        }
    }
    // .popup-request-call__content

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }

    // .popup-request-call__image

    &__image {
        position: relative;
        @media (max-width: 992px) {
            height: 200px;
        }
    }

    // .popup-request-call__pic1

    &__pic1 {
        position: relative;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 128, 197, 0.8);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .popup-request-call__pic2

    &__pic2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 160px;
        width: auto;
        z-index: 5;
        @media (max-width: 992px) {
            height: 100px;
        }
    }

    // .popup-request-call__body

    &__body {
        padding: 60px;
        @media (max-width: 768px) {
            padding: 20px;
        }
        .b24-form-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
            text-align: left;
            padding: 0px 0px 0px 0px;
            border-bottom: none;
            align-items: start;
            margin: 0px 0px 32px 0px;
            @media (max-width: 768px) {
                margin: 0px 0px 24px 0px;
                gap: 16px;
            }
        }
        .b24-form-header-description {
            margin: 0px 0px 0px 0px;
            opacity: 1;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 2px 6px;
            color: var(--white);
            background: var(--black);
            @media (max-width: 768px) {
                font-size: 12px;
                padding: 1px 6px;
            }
        }
        .b24-form-field-agreement {
            input {
                display: none;
            }
        }
        .b24-form-control-desc {
            opacity: 1;
            font-family: var(--font-family) !important;
        }
        .b24-form-control-required {
            display: none !important;
        }
        .b24-form-btn {
            font-family: var(--font-family) !important;
            width: 100%;
            min-height: 68px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--white);
            padding: 5px 10px;
            background-color: var(--accent);
            border-radius: 100px;
            @media (max-width: 768px) {
                min-height: 52px;
            }
        }
        .b24-form-field-agreement-link {
            font-weight: 400 !important;
            font-size: 12px !important;
            line-height: 167% !important;
            color: var(--grey-text-2) !important;
            @media (max-width: 992px) {
                text-align: center !important;
                width: 100%;
                display: block;
            }
            @media (max-width: 768px) {
                font-size: 10px !important;
                line-height: 160% !important;
            }
        }
        .b24-form-padding-side {
            padding: 0px 0px 0px 0px;
        }
        .b24-form-control {
            background: var(--grey-background) !important;
            border-radius: 34px !important;
            border: none !important;
            height: 68px !important;
            padding: 5px 32px !important;
            width: 100% !important;
            font-weight: 400 !important;
            line-height: 100% !important;
            color: var(--black) !important;
            font-size: 16px !important;
            @media (max-width: 768px) {
                height: 52px !important;
                padding: 5px 24px !important;
            }
        }
        .b24-form-field-name {
            margin: 0px 0px 12px 0px !important;
        }
        .b24-form-control-label {
            padding: 0px 32px !important;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: var(--grey-text-2);
            @media (max-width: 768px) {
                padding: 0px 24px !important;
            }
        }
        .b24-form-control-select-label,
        .b24-form-control:focus + .b24-form-control-label,
        .b24-form-control-not-empty + .b24-form-control-label {
            display: none;
        }
        .b24-form-btn-block {
            padding: 0px 0px 0px 0px !important;
            margin: 12px 0px 0px 0px;
        }
        .b24-form-field {
            margin: 0px 0px 0px 0px !important;
        }
        .b24-form-control-container {
            margin: 28px 0px 0px 0px !important;
            @media (max-width: 992px) {
                margin: 20px 0px 0px 0px !important;
            }
        }
        .b24-form-header-title {
            font-weight: 900;
            font-size: 28px;
            line-height: 114%;
            text-align: left;
            margin: 0px 0px 0px 0px;
            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 120%;
            }
        }
        form {
            display: flex;
            flex-direction: column;
        }
        form > div:nth-child(1) {
            order: 1;
        }
        form > div:nth-child(2) {
            order: 3;
        }
        form > div:nth-child(3) {
            order: 2;
        }
        .b24-form-control-icon-after {
            margin: 0px 0px 0px 0px !important;
        }
        .b24-form-field-name {
            margin: 0px 0px 12px 0px !important;
        }
    }
}
