:root {
  --container-width: 1270px;
  --container-padding: 30px;

  --white: #fff;
  --black: #151617;
  --grey-background: #f4f4f4;
  --grey-stroke: #ededed;
  --grey-stroke-2: #e3e3e3;
  --grey-text: #a8a8a8;
  --grey-text-2: #585858;
  --accent: #0080c5;
  --blue: #006693;
  --yellow: #fc0;

  --font-family: "GothamPro", sans-serif;
  --second-family: "RobotoCondensed", sans-serif;
}
